/* CSS declarations go here */
#login-first{
   background-color: rgba(98, 153, 174, 0.46);
   border: 5px solid rgba(0, 0, 0, 0.32);
   width: ;
   height: 400px;
   float: left;
   padding: 10px;
   box-sizing: border-box;
   /*margin-top:50px;*/
   border-radius: 5px;
   margin: auto;
  }
  body a{
    text-decoration: none;
    color: white;
  }


body{
  background-color: #e9ebee ;
  /*background-image: url('images\240953.jpg');
  background-size: 1400px 700px;*/
  font-family: arial;
  cursor: default;
}

.body-main{
  background-image: url('images\240953.jpg');
  background-size: 1400px 700px;
}



.post{
  list-style-type: none;
}



.panel{
  float: left;
  width: 50%;

}

#new-user-div{
  align-self: center;
  box-sizing: border-box;
  margin: 2px 5px;
  text-align: center;
  font-size: 22px;
  color: #5b5b5b;
  /*margin-top: 35px;*/
}

#existing-user-div{
  align-self: center;
  box-sizing: border-box;
  margin: 2px 5px;
  text-align: center;
  font-size: 22px;
  color: #5b5b5b;

  /*margin-top: 35px;*/
}

#sign-up-div h2{
  margin: 0px;
}

#sign-in-div h2{
  margin: 0px;
}

.signup-tag{
  display: inline-block;
box-sizing: border-box;
margin: 4.5px 0px;
font-size: 19px;
margin-left: 40px;
text-align: center;
color: #5b5b5b;
}


.signin-field{
  display: inline-block;
box-sizing: border-box;
margin: 4.5px 0px;
font-size: 19px;
margin-left: 40px;
text-align: center;
color: #5b5b5b;
}

#signup-form{
  height: auto;
  width: 430px;
  margin-left: 18%;
  float: left;
  margin-top: 25px;
}




#signin-form{
  height: auto;
  width: 430px;
  margin-left: 15%;
  float: left;
  margin-top: 25px;
}

.signup-div{
  width: 98%;
  float: left;
  padding: 3px;
  box-sizing: border-box;
  background-color: rgba(186, 222, 239, 0.31);
  margin: 5px;
  border-radius: 4px;
}
.signin-area{
  width: 98%;
  float: left;
  padding: 3px;
  box-sizing: border-box;
  background-color: rgba(186, 222, 239, 0.31);
  margin: 5px;
  border-radius: 4px;
}

.signup-div:hover{
  box-shadow: 0px 0px 4px 2px #54acb6;
}

.signin-area:hover{
  box-shadow: 0px 0px 4px 2px #54acb6;
}

.signup-input{
  width: 200px;
  margin: 2px;
  height: 25px;
  border-radius: 3px;
  display: list-item;
  font-size: 16px;
  padding-left: 2px;
  float: right;
  border-style: none;
  box-sizing: border-box;
  margin-top: 5.2px;
}

.signup-input:hover{
  box-shadow: 0px 0px 5px 3px #54acb6;
}
.signup-input:focus{
  box-shadow: 0px 0px 5px 3px #e15901;
}

.login-class{
  width: 200px;
  margin: 2px;
  height: 25px;
  border-radius: 3px;
  display: list-item;
  font-size: 16px;
  padding-left: 2px;
  float: right;
  border-style: none;
  box-sizing: border-box;
  margin-top: 5.2px;
}

::-webkit-input-placeholder {
    color:   #b7b7b7;
}


.login-class:hover{
  box-shadow: 0px 0px 5px 3px #54acb6;
}
.login-class:focus{
  box-shadow: 0px 0px 5px 3px #e15901;
}

#sign-up-div{
  align-self: center;
  box-sizing: border-box;
  margin: 2px 5px;
  text-align: center;
  font-size: 22px;
   color: #66cc33;
}

#sign-in-div{
  align-self: center;
  box-sizing: border-box;
  margin: 2px 5px;
  text-align: center;
  font-size: 22px;
   color: #66cc33;
}


.sigin-field{
  float: left;
}

.signup-area{
  width: 100%;
  float: left;
}

.error-msg{
  float: right;
  width: 100%;
  color:#a00f0f;
  text-align: right;
  font-size: 22px;
}

.button{
  border: 3px solid #b7b7b7;
  width: 99%;
  background-color: white;
  float: left;
  height: 35px;
  font-size: 22px;
  border-radius: 5px;
  color: #5b5b5b;
  box-sizing: border-box;
  margin-left:3px;
  margin-top: 5px;
  margin-bottom: 3px;
  background-color:rgba(234, 229, 229, 0.28);
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.63);
}
.button:active{
  background-color: #a0a0a0;
  color: white;
}

#forgot-link a{
  color:#d5efc9;
  font-size: 18px;
  margin-left: 10px;
  float: right;
}

#error-exist{
  color: red;
  font-size: 20px;
  width: auto;
  height: auto;
  padding-right: 3px
}

#main-div-TopBar{
  width: 100%;
  background-color:#2f2f2f;
  box-sizing: border-box;
  float:left;
  color: #ff771f;/*till logo get complted*/
  height: 45px;
  border-radius:5px;
  box-sizing: border-box;
  margin-bottom: 1px;
}

#main-div-TopBar a{
color: #960C1D;
}

.element-TopBar{
  float: left;
}

#logout-link{
  float: right;
}

.element-TopBar p{
  margin: 0px;
}

#name-div-TopBar h2{
  float: left;
  margin: 0px;
  box-sizing:border-box;
  margin: 8px 0px;
  margin-left: 8px;
}


#top-SearchBar{
  margin:9.5px;
  margin-left:10%;
}

#search{
  font-size: 16px;
  background-color: white;
  box-shadow: 0px 0px 0px 0px;
  width: 200px;
  height: 20px;
  border-radius: 3px;
  transition: width 1s,box-shadow 1s;
  -webkit-transition:width 1s,box-shadow 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function:ease-in-out;
  border-style:none;
  background-image: 	url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#search:focus{
  width: 400px;
  box-shadow: 0px 0px 5px 3px #e15901;

}




#side-panel{
  width: 16%;
  box-sizing:border-box;
  float: left;
  margin-right:2px;
  margin-top: 1px;
}
#side-panel-right{
  width: 18%;
  box-sizing:border-box;
  float: left;
  margin-right:2px;
  margin-top: 1px;
}

#online-main-div{
  color: black;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 6px;
  box-shadow: 0px 0px 0px 2px ##f4f4ee;
  transition:box-shadow 0.5s;
  -webkit-transition:box-shadow 0.5s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  padding:2px;
  overflow-y: auto;
  border-radius: 4px;
}
#online-main-div:hover{
  box-shadow: 0px 0px 4px 2px #c8c8c8;
}

#req-main-div{
  color: black;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 6px;
  box-shadow: 0px 0px 0px 2px ##f4f4ee;
  transition:box-shadow 0.5s;
  -webkit-transition:box-shadow 0.5s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  padding:2px;
  overflow-y: auto;
  border-radius: 4px;
}
#req-main-div:hover{
  box-shadow: 0px 0px 4px 2px #c8c8c8;
}

#online-users{
  background-color: white;
  width: 98%;
  text-align: center;
  font-size: 18px;
  height:23%;
  box-sizing: border-box;
  margin:2px;
  color:#6fa63a;
  padding: 5px 0px;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 6px;
}

#req-name-div{
  background-color: white;
  width: 98%;
  text-align: center;
  font-size: 18px;
  height:auto;
  box-sizing: border-box;
  margin:2px;
  color:#6fa63a;
  padding: 5px 0px;
  border-radius: 4px 4px 0px 0px;
}

#online-list{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#req-list-main-div{
  overflow: auto;
  max-height: 30%;
}

#req-list{
  width: 100%;
  height: 30%
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 0px;
}

.user-item-div{
  font-size: 16px;
  list-style:none;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2px;
  margin: 3px 0px;
  background-color: white;
  color:#666666;
  transition:background-color 0.5s;
  -webkit-transition:background-color 0.5s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  border-radius: 4px;
  margin-bottom: 4px;
}

.user-item-div:hover{
  background-color: #badfef;
}



#requests{
  overflow: auto;
  font-size: 16px;
  list-style:none;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin: 1px 0px;
  color:#666666;
  border: 0px;
}

#requests:hover{
  border-radius: 4px;
  background-color: #badfef;
}

.req-user-name{
  width: 96%;
  height:10%;
  box-sizing: border-box;
  font-size: 18px;
  background-color: white;
  border-radius: 4px;
  margin:0px 4px;
  margin-top: 3px;
}

.accept{
  font-size: 16px;
  width: 50%;
  float:left;
  box-sizing: border-box;
  text-align: center;
  padding: 2px;
  margin: 3px 3px 0px 2px ;
  background-color: white;
  color:#666666;
  border-left: 3px solid #6fa63a;
  border-radius: 4px;
}
.delete{
  width: 46%;
  float:left;
  box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 2px;
  margin: 3px 0px;
  background-color: white;
  color:#666666;
  border-left: 3px solid red;
  border-radius: 4px;
}
.accept:hover{
  background-color: #6fa63a;
  color:white;
}
.delete:hover{
  background-color: red;
  color:white;
}

#menu-area-SidePanel{
  color: black;
  /*height: 158px;*/
  width: 100%;
  box-sizing: border-box;
  margin: 6px;
  box-shadow: 0px 0px 0px 2px #e9ebee;
  transition:box-shadow 0.5s;
  -webkit-transition:box-shadow 0.5s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  padding:2px;
  margin-bottom: 8px;
}

#menu-area-SidePanel:hover{
  box-shadow: 0px 0px 4px 2px #c8c8c8;
   border-radius: 4px;
}

.menu-item-div{
  background-color: white;
  width: 98%;
  height: 20px;
  text-align: center;
  font-size: 15px;
  height:96%;
  padding:9.1px 0px ;
  box-sizing: border-box;
  margin:2px;
  color: #323232;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 3px;
}

.menu-item-div a{
  text-decoration: none;
}


.menu-item-div:hover{
  background-color: #badfef;
  transition: .2s;
  transform: scale(1.08,1.08);
  border-bottom: 1px solid #94b2bf;
}



/*#home:hover{
  background-color: #badfef;
  transition: .2s;
  transform: scale(1.08,1.08);
}

#messages:hover{
  background-color: #badfef;
  transition: .2s;
  transform: scale(1.08,1.08);
}

#profile:hover{
  background-color: #badfef;
  transition: .2s;
  transform: scale(1.08,1.08);
}

#friends:hover{
  background-color: #badfef;
  transition: .2s;
  transform: scale(1.08,1.08);
}*/

#menu-area-SidePanel a{
  color: black;
}

.menu-option{
  float: left;
  position: relative;
    display: inline-block;
}

#chat-group-wrapper{
  width: 65%;
  float: left;
  box-sizing:border-box;
  margin-top: 6.5px;
  box-sizing: border-box;
  margin-left: 8px;
  /*border: 1px solid black;*/
}

.chat-area-class{
  border: 3px solid #e9ebee;
  box-sizing: border-box;
  margin: 0px;
  width: 60%;
  float: left;
}

#chat-area-right{
  width: 40%;
  padding-left: 10px;
}
#chat-area-rightb{
  width: 40%;
  padding-left: 10px;
}

#chat-area{
  float: left;
  box-sizing: border-box;
}


.group-menu-option{
  width: 18px;
    height: 3px;
    background-color: #2f2f2f;
    margin: 2.5px 2.5px;
    float: left;
}

#group-menu-div{
  width:23px;
  padding: 3px;
  float: left;
  margin-top: 2px;
}

#group-name-div{
  background-color: #66cc33;
  height: 40px;
  box-sizing: border-box;
  padding: 3px;
  margin-bottom: 2px;
  border-radius: 4px 4px 0px 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
    height: 90px;
  box-sizing: border-box;
  }

  .menu-option:hover .dropdown-content {
    display: block;
}

.menu-option-div{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
#menu-option-div1{
  padding: 4px;
  margin: 0px 0px;
  font-size: 15px;
  box-sizing: border-box;
}

.group-memb{
  width: 100%;
  cursor: pointer;
}

.group-memb:hover{
  box-sizing: border-box;
  background-color: #e5e5e5;
  transition: 0.2s;
}

#menu-main-div{
  font-weight: bold;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  font-size: 18px;
  cursor: default;
}


#group-chat-sec{
  height: 455px;
  color: black;
  overflow-y:auto;
  overflow-x: none;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
/*background-color: #e5e5e5;*/
}
#lgroup-chat-sec{
  height: 400px;
  color: black;
  overflow-y:auto;
  overflow-x: none;
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
/*background-color: #e5e5e5;*/
/* transform:rotateX(180deg); */
                /* -moz-transform:rotateX(180deg);
                -webkit-transform:rotateX(180deg);
                -ms-transform:rotateX(180deg);
                -o-transform:rotateX(180deg);  */
}

#lgroup-chat-sub{
  width: 100%;
  height: auto;
  float: left;
  /* -moz-transform:rotateX(180deg);
  -webkit-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  -o-transform:rotateX(180deg);  */
}

.post-wrapper{
  background-color: white;
  width: 95%;
  box-sizing: border-box;
  float:left;
  padding-right: 5px;
  margin:5px 0px;
  margin-bottom: 5px;
  max-height:auto ;
  border-radius: 4px;
  border-bottom: 1px solid #d8d8d8;
  margin-left: 12px;
}

#post-time{
  float:right;
  text-align: right;
  font-size: 12px;
  color: #747577;
  width: 100%;
}

.post-wrapper-right{
  width: 90%;
  box-sizing: border-box;
  margin: 3px 0px;
  margin-left: -5px;
  float:right;
  padding-right: 5px;
  max-height:auto ;
  border-radius: 4px;
}

.post-wrapper-left{
  width: 65%;
  box-sizing: border-box;

  margin: 3px 0px;
  margin-left: -5px;
  float:left;
  padding-right: 5px;
  max-height:auto ;
  border-radius: 4px;
  margin-left: 5px;
}

#post-wrapper:hover{
  box-shadow: 0px 0px 4px 2px #c8c8c8;

}

.wrapper-main{
  width: 100%;
  display: block;
  margin: 8px 0px;
}

#post-content{
  width: 100%;
  float: left;
  margin: 2px;
  margin-top: 0px;
  background-color: white;
  padding:10px;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space:pre-line;
  background-color: white;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-radius: 3px;
  font-size: 13px;
}

#views-div{
  width: 100%;
  float: left;
  /*margin: 2px;*/
  margin-top: 0px;
  background-color: white;
  padding:2px;
  box-sizing: border-box;
  /*word-wrap: break-word;
  white-space:pre-line;*/
  background-color: white;
  /*border-top: 2px solid #e5e5e5;*/
}

.views-item{
  width: 50%;
  float:left;
  text-align: center;
  /*border-top: 2px solid #e5e5e5;*/
  box-sizing: border-box;
  font-size: 15px;
  color: #5d5e5f;
  cursor: pointer;
  height: 100%;
  padding: 5px;
  margin-bottom: 2px;
  font-size: 14px;
  border-radius: 4px;
}
.views-item:hover{
background-color: #c4e0fd;
}

#comment{
  float: right;
}

.comment-area{
  float: left;
  width: 100%;
  box-sizing: border-box;
}

#comment-sec{
  max-height:200px ;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.comment-ul{
  list-style: none;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 0px;
}
.comment-li{
  list-style: none;
  border-left: 3px solid #72c4ff;
  box-sizing: border-box;
  margin: 8px 0px;
  padding: 5px;
  float: left;
  background-color: #edf7ff;
  width: 90%;
}

.comment-name{
  font-weight: bold;
  color: #8b8d8e;
  float: left;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.comment-time{
  font-size: 12px;
  color: #747577;
  float: right;
}

.comment-content{
  width: 100%;
  float: left;
  word-wrap: break-word;
    white-space: pre-line;
    font-size: 13px;
}

.post-comment{
  max-height:50px;
  resize: none;
  width: 96.8%;
  border-radius: 6px;
  height: 60px;
  padding: 7px;
  box-sizing: border-box;
  margin-left: 10px;
}

.fa-remove{
  float: right;
  box-sizing: border-box;
  margin-top:10px;
}

.post-content-right{
  background-color: #e3f1fb;
  min-width: auto;
  max-width: 100%;
  float: right;
  margin: 2px;
  margin-top: 0px;
  padding:10px;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space:pre-line;
  border-radius: 4px;
  font-size: 14px;
}
.post-content-left{
  background-color: white;
  min-width: auto;
  max-width: 100%;
  float: left;
  margin: 2px;
  margin-top: 0px;
  padding:10px;
  box-sizing: border-box;
  word-wrap: break-word;
  white-space:pre-line;
  border-radius: 4px;
  font-size: 14px;
}

/*#user-name{
  margin-top: 3.3px;
  box-sizing: border-box;
}*/


.post-info-item{
  float: left;
  width: 32%;
  text-align: center;
  margin: 2px;
  font-size: 14px;
  color: #323232;
  cursor: pointer;
}

 .post-info-item-links{
   /*width: 0%;*/
 }

.msg-time-right{
  text-align: right;
  float:right;
  display: block;
  width: 100%;
  font-size: 12px;
  color: #747577;
}

#pro-main-div{
  /*border: 1px solid black;*/
  float: left;
  width: auto;
  height: 600px;
  box-sizing: border-box;
  padding: 5px;
  padding-right: 0px;
  background-color: white;
  margin-left: 5px;
  margin-top: 9px;
}

#pro-pic{
  float: left;
  box-sizing: border-box;
  width: 250px;

  height: 300px;
  position: relative;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#pro-pic:hover #pic-options{
  display: block;
}

#pic-sub{
  float: left;
  box-sizing: border-box;
  width: 250px;
height: 250px;
  align-self: center;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
  display: flex;
  background-color: #d1d3d6;
}

#pic-sub img{
  width: 100%;
margin: auto 0px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close-form {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
}

.close-form:hover,
.close-form:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#pro-picModal{
  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
    object-position: center;
}

.picture{
  float: left;
  box-sizing: border-box;
  cursor: pointer;
}

.pictureModal{
  margin: auto;
    display: block;
    height: : 500px;
    max-width: 600px;
}

#pic-options{
  width: 100%;
  float: left;
  box-sizing: border-box;
  position:sticky;
  position: absolute;
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.29);
  display: none;
}

#user-info{
  width: 100%;
  height: 49px;
  background-color: white;
  float: left;
  font-size: 25px;
  text-align: center;
  color: #5d5e5f;
  padding: 2px;
  box-sizing: border-box;

}

.email-id{
  font-size: 12px;
}

 .pic-option-item{
   width: 50%;
   float: left;
   box-sizing: border-box;
   text-align: center;
   color: white;
    cursor: pointer;
 }

 .pic-option-item:hover{
   background-color: #454647;
 }

#pic-change-box{
  display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#pic-change{
  position: relative;
 background-color:#8b8d8e;
 margin: auto;
 padding: 0;
 border: 1px solid #888;
 width: 80%;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 -webkit-animation-name: animatetop;
 -webkit-animation-duration: 0.4s;
 animation-name: animatetop;
 animation-duration: 0.4s;
height:450px;
}

#uploadButton{
  float: right;
  width: 10%;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  margin: auto;
}

#user-info-main{
  height: 300px;
  float: left;
  box-sizing: border-box;
  width: 570px;
  /*border: 2px solid black;*/
  padding: 5px;
  margin: 0px 8px;
  margin-left: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #6969bd;
  /*background-color: #69bd9e;*/
  /*background-color: #bd6d69;*/
  /*background-color: #bd69a3;*/
  /*background-color: #d0b504;*/
  /*background-color: #e15901;*/
  background-color: #3e5e7d;
  /*background-color: #2f2f2f;*/
}

#user-info-detail{
  color: white;
  box-sizing: border-box;
  width: 100%;
  float: left;
  text-align: center;
}
.user-info-item{
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  height: 80px;
  padding: 15px;
}

.msg-time-left{
  text-align: left;
  float: left;
  display:block;
  width: 100%;
  font-size: 12px;
  color: #747577;
}

.photo-up{
  width:100%;
  box-sizing: border-box;
  float: left;
}
/*.photo-up img{
  height:300px;
  width:auto;
}*/

#message-link{
  text-align:center;
  box-sizing:border-box;
  padding:5px;

}

.menu-icons{
  text-align: center;
  margin-left: 12px;
}

.fa-user-circle{
  margin: 0px;
  box-sizing: border-box;
  float: left;
  margin-top: -1px;
}
.fa-envelope-o{
  margin: 0px;
  box-sizing: border-box;
  float: left;
  margin-top: -1.5px;
}
.fa-group{
  margin: 0px;
  box-sizing: border-box;
  float: left;
  margin-top: -1px;
}

.fa-home{
  margin: 0px;
  box-sizing: border-box;
  float: left;
  margin-top: -2px;
}

#friend-link{
  text-align:center;
  box-sizing:border-box;
  /*width:8%;*/
  height: 1%;
  margin: 2px;
}

#user-name:hover{
  color: black;
}

#user-name{
   text-align: left;
   box-sizing: border-box;
   padding: 5px;
   width: 70%;
   font-weight: bold;
   color: #8b8d8e;
   }

#message-link:hover{
  color: #66cc33;

}

#friend-link:hover{
  color: #ff771f;

}

#group-post-form{
  box-sizing: border-box;
  width: 99%;
}


#group_message{
  max-height:50px;
  resize: none;
  width: 96.8%;
  border-radius: 6px;
  height: 60px;
  padding: 7px;
}
#private-message{
  /*max-height:50px;*/
  resize: none;
  width: 68%;
  border-radius: 6px 0px 0px 6px;
  min-height: 34px;
  max-height: auto;
  /*padding: 7px;*/
  border:1px solid grey;
  margin-bottom:4px;
  font-size: 14px;
  float: left;
  margin-left: 5px;
  overflow: hidden;
}

#post-button{
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: white;
  height: 35px;
  font-size: 16px;
  border:2px solid #999999;
  color: #808080;
  font-weight: bold;
}
#msg-button{
  width:25%;
  border-radius:0px 6px 6px 0px;
  border: none;
  background-color: white;
  /*height: 35px;*/
  font-size: 12px;
  border:2px solid #999999;
  color: #808080;
  font-weight: bold;
  margin-left:5px;
  height: 40px;
}

#user-image{
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.pro-image{
  width: 100%;
}

#post-button-add{
  width: 100%;
  border-radius: 4px;
  border: none;
  background-color: white;
  height: 35px;
  font-size: 16px;
  border:2px solid #999999;
  color: #808080;
  font-weight: bold;
  cursor: pointer;
}

#group-name{
  box-sizing: border-box;
  color: #f1f1f1;
  height: 33.2px;
  width: 70%;
  margin: 0% 28px;
  padding: 6.6px 0px;
  padding-left: 40%;
  font-size: 21px;
}
.private-name{
  box-sizing: border-box;
  color: #f1f1f1;
  height: 33.2px;
  width: 100%;
  /*margin: 0% 0px;*/
  padding:5px;
  /*padding-left: 40%;*/
  font-size: 18px;
  text-align: center;
}

#request-div{
  color: white;
}

#chat-list{
  padding: 0px;
  padding-left: 0px;
  margin: 0px;

}

#messages-list{
  list-style: none;
  padding-left: 4px;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-top: 8px;
}
.messages-list-item{
  width: 96%;
  box-sizing: border-box;
  float: left;
  background-color: white;
  margin: 3px;
  border-radius: 4px;
  padding: 3px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
}

.messages-list-item:hover{
  background-color: #badfef;
}

.chat-name-latest{
  float: left;
  box-sizing: border-box;
  width: 50%;
  font-size: 14px;
  font-weight: bold;
  color:#8b8d8e;
}
.chat-time-latest{
  float:right;
  box-sizing: border-box;
  width: 50%;
  color: #747577;
  font-size: 12px;
  text-align: right;
}
.chat-content-latest{
  box-sizing: border-box;
  width: 80%;
  font-size: 13px;
  overflow: hidden;
text-overflow: ellipsis;
margin-left: 5px;
}

.menu-box{
  font-weight: bold;
  color: #5d5e5f;
}

.links-div{
  float: left;
  width: 20%;
  margin-top: -11px;
  font-size: 12px;
}

.links-div-right{
  float: right;
  /*text-align: right;*/
  margin-top: -28px;
}

.text-right{
  text-align: right;
}

#back-btn{
  display: none;
}


@media (max-width:786px) {
  #side-panel{
    width:100%;
    margin: 0px;
  }

  #chat-group-wrapper{
    width: 100%;
    margin: 0px;
  }


 #chat-area-right{

   width: 100%;
   margin: 0px;
 }
 #chat-area-rightb{
   display: none;
   width: 100%;
   margin: 0px;
 }

#back-btn{
  display: block;
}

#group-chat-sec{
  height: 460px;
}
 .menu-box{
   /* display: none; */
 }

 #menu-area-SidePanel{
   width: 100%;
   height: 30px;
   margin: 0px 0px;
   margin-top: 1px;

 }
 #menu-area-SidePanel:hover{
      box-shadow:none;
 }

.menu-icons{
  width: 20%;
  float: left;
  text-align: center;
  margin-left: 0px;
}

#lgroup-chat-sec{
  height: 240px;
}

.menu-item-div{
  width: 100%;
  float: left;
  text-align: center;
  height: 35px;
  margin: 0px;
  border: 2px solid #e9ebee;
  padding-top: 4.2px
}

#name-div-TopBar{
  margin: auto;
}

#top-SearchBar{
  display: none;
}
#req-main-div{
  display: none;
}
#online-main-div{
  /* display: none; */
  width: 100%;
  float: right;
}

.logout{
  float: right;
  box-sizing: border-box;
}

#logout-link{
  text-align: center;
  box-sizing: border-box;
  /*margin-right: 50px;*/
}

#signup-form{
  display: none;
  width: 100%;
  margin-left:0%;
}

#signin-form{
  display: none;
  width: 100%;
  margin-left:0%;
}

.panel{
  width: 100%;
  margin-top: 50px;
}

#left_panel{
  margin-bottom: 50px;
  margin-top: 80px;
}

.fa-user-circle{
  font-size: 23px;
  margin: 0px;
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
  float:none;
  margin-top: 0px;
}
.fa-envelope-o{
  font-size: 23px;
  margin: 0px;
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
  float:none;
  margin-top: 0px;
}
.fa-group{
  font-size: 23px;
  margin: 0px;
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
  float:none;
  margin-top: 0px;
}

.fa-home{
  font-size: 23px;
  margin: 0px;
  box-sizing: border-box;
  margin-right: 0px;
  margin-left: 0px;
  float:none;
  margin-top: 0px;
}



#post-wrapper{
  width: 96%;
  background-color: white;
  box-sizing: border-box;
  margin-left: 0px;
  float:left;
  padding-right: 5px;
  margin:2px 0px;
  margin-bottom: 10px;
  max-height:auto ;
  /*border: 0.3px solid  #c8c8c8;*/
  border-radius: 4px;

  border-bottom: 1px solid #d8d8d8;
}


#chat-list{
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
}

#group_message{
  width: 97%;
  resize: none;
}
#post-button{
  width: 100%;
}
#group-post-form{
  width: 100%
}

#post-content{
  background-color: white;
  border-top: 2px solid #e5e5e5;

}

#group-name-div{
  border-radius: 4px;
}


}
